.body {
  background-color: #0e182a;

  .hero {
    background: url("./assets/background.jpg");
    height: 860px;
    background-position: 50% top;
  }
  .earthTop {
    position: absolute;
    top: 645px;
  }
  .earthBackground{
    background-color: #0e182a;
  }
  .rocketBox {
    position: relative;
    height: 800px;
    background-color: #0e182a;
    color: white;
    font-size: 34px;
    display: flex;
    justify-content: center;
  }
  .rocket {
    position: absolute;
    left: 595px;
    top: 200px;
  }
}
